<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.rxjava">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.disposable.DisposableExampleActivity">
        </activity>
        <activity android:name=".ui.operator.MergeExampleActivity">
        </activity>
        <activity android:name=".ui.operator.CancateExampleActivity">
        </activity>
        <activity android:name=".ui.operator.IntervalExampleActivity">
        </activity>
        <activity android:name=".ui.operator.DelayExampleActivity">
        </activity>
        <activity android:name=".ui.HomeBlankActivity">
        </activity>
        <activity android:name=".ui.operator.TimerExampleActivity">
        </activity>
        <activity android:name=".ui.operator.FilterExampleActivity">
        </activity>
        <activity android:name=".ui.operator.ZipExampleActivity">
        </activity>
        <activity android:name=".ui.operator.MapExampleActivity">
        </activity>
        <activity android:name=".ui.operator.SimpleExampleActivity">
        </activity>
        <activity android:name=".ui.networking.NetworkingActivity">
        </activity>
        <activity android:name=".ui.search.SearchActivity">
        </activity>
        <activity android:name=".ui.OperatorsActivity">
        </activity>
        <activity android:name=".ui.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>